{% assign certificates = site.data.data.certificates %}
{% if certificates %}
<section id="seminars">
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ certificates.title }}
  </h2>

  {% if certificates.intro %}
  <div class="intro">
      <p>{{ certificates.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for certificate in certificates.assignments %}
    <div class="item">

      <span class="project-title">
        <a href="{{ certificate.link }}">{{ certificate.title }}</a>
      </span>

      {% if certificate.tagline %}
      - <span class="project-tagline">{{ certificate.tagline }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
</section>