<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>My Resume</title>
      <link rel="stylesheet" href="css/master.css">
      <script defer src="assets/js/my-script.js"></script>
</head>
<body>
      <div class="container">
            <nav>
                  <input type="checkbox" id="nav" class="hidden">
                  <label for="nav" class="nav-btn">
                        <i></i>
                        <i></i>
                        <i></i>
                  </label>
                  <div class="logo">
                        <a href="#">Resume</a>
                  </div>
                  <div class="nav-wrapper">
                        <ul>
                              <li><a id="d" href="#education">Education</a></li>
                              <li><a id="" href="#experiences">Experiences</a></li>
                              <li><a id="" href="#seminars">Certificates</a></li>
                              <li><a id="" href="#projects">My Projects</a></li>
                        </ul>
                  </div>
            </nav>
      </div>
 
</body>
</html>
