<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>My Resume</title>
      <link rel="stylesheet" href="css/master.css">
</head>
<body>
      <div class="container">
            <nav>
                  <input type="checkbox" id="nav" class="hidden">
                  <label for="nav" class="nav-btn">
                        <i></i>
                        <i></i>
                        <i></i>
                  </label>
                  <div class="logo">
                        <a href="#">Resume</a>
                  </div>
                  <div class="nav-wrapper">
                        <ul>
                              <li><a id="d" href="#education">Education</a></li>
                              <li><a id="" href="#experiences">Experiences</a></li>
                              <li><a id="" href="#seminars">Certificates</a></li>
                              <li><a id="" href="#projects">My Projects</a></li>
                        </ul>
                  </div>
            </nav>
      </div>
 
      <script>
            // JavaScript code to handle menu toggling
            document.addEventListener('DOMContentLoaded', function() {

              const isMobile = window.matchMedia("(max-width: 864px)").matches;
              
                  if(isMobile){
                        const navLinks = document.querySelectorAll('.nav-wrapper ul li a');
                        const navWrapper = document.querySelector('.nav-wrapper');
            
                        navLinks.forEach(link => {
                              link.addEventListener('click', () => {
                                    // Close the menu by unchecking the "nav" checkbox
                                    document.getElementById('nav').checked = false;
                                    // Hide the navigation wrapper
                                    navWrapper.style.opacity = 0;
                                    navWrapper.style.zIndex = -1;
                              });
                        });
                  
                                    // Toggle the menu when the checkbox is checked or unchecked
                  document.getElementById('nav').addEventListener('change', function() {
                  if (this.checked) {
                        // Menu is open
                        navWrapper.style.opacity = 1;
                        navWrapper.style.zIndex = 9990;
                  } else {
                        // Menu is closed
                        navWrapper.style.opacity = 0;
                        navWrapper.style.zIndex = -1;
                  }
                  });
                  }
            });
          </script>

</body>
</html>
